.jisho-miner-btn {
  display: inline-block;
  margin-left: 8px;
  margin-bottom: -20px !important;
  padding: 0px 10px;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: 500;
  color: #eee !important;
  background-color: #909dc0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
  transition: background-color 0.15s ease;
  width: 64%;
  height: 32px;
  
}

.jisho-miner-btn:hover:not(:disabled) {
  background-color: #909dc0;
}

.jisho-miner-btn:disabled {
  cursor: default;
}

.jisho-miner-btn--added {
  color: #000 !important;
  background-color: #bbffb1 !important;
}

.jisho-miner-btn--error {
  color: #000 !important;
  background-color: #e53935 !important;
}
